<div ng-controller="mainMenuCtrl" class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left" style="min-height: 1007px;">
          <div class="nav-category">
            <h2>First Category</h2>
            <ul class="nav nav-pills nav-stacked">
              <li ng-class="menuClass('asset')"><a ng-href="#/asset"><i class="fa fa-building"></i>Asset</a>
              </li>
              <li ng-class="menuClass('measurement')"><a ng-href="#/measurement"><i class="fa fa-dashboard"></i>Measurement</a>
              </li>
              <li ng-class="menuClass('maintenance')"><a ng-href="#/maintenance"><i class="fa fa-wrench"></i>Maintenance</a>
              </li>
              <li ng-class="menuClass('about')"><a ng-href="#/about"><i class="fa fa-info"></i>About</a>
            </ul>
          </div>
          <div class="nav-category">
            <h2>Second Category</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">User Accounts</a></li>
              <li><a href="#">Containers</a></li>
              <li><a href="#">Shutdown and Reboot</a></li>
            </ul>
          </div>
        </div>
